include ../components/doctype/doctype
include ../components/header/header
include ../components/content/content
include ../components/footer/footer

+doctype(pages.about.title)
  .-wrapper
    +header(false, [pages.about.url])
    +content
      .__inner
        .container-fluid
          article.-section._1._2
            header.__header
              h2.__title О нас
              .__header-bottom
                span.__header-line._no-padding

            div &nbsp;
            .clearfix
              img.-ill-img._align_left(src='static/img/content/welcome.jpg' alt='')
              .overflow-hidden
                div &nbsp;
                h1.h2.nautilus.green-1 Рады приветствовать вас на моем авторском кулинарном сайте!
                p.
                  Мой стаж на кухне более 20 лет, и более 5 лет я кулинарный блогер.
                  За это время я приготовила тысячи вкусных блюд и сделала тысячи красивых снимков еды.
                  Я писала и пишу для многих популярных кулинарных сайтов, журналов, оформляю кулинарные книги и упаковки.
                p.
                  Идею авторского сайта, на котором будет все идеально на мой взгляд, я вынашивала давно,
                  и готова представить вам свое детище. Здесь каждый сможет найти рецепт на свой вкус и кошелек,
                   блюда всех кухонь мира, которые без особого труда можно приготовить на своей кухне, бюджетные и сезонные рецепты и детскую еду.
                p.
                  Я расскажу из каких продуктов готовлю, как планирую меню и закупки. Поделюсь секретами фуд-фото
                  и научу всех желающих красиво снимать и обрабатывать фотографии. Пишите замечания и пожелания,
                  ведь авторский сайт, это живая и развивающаяся структура, и какой ей быть, зависит только от вас, моих читателей, все , что я делаю, все это для вас.

    +footer