extends okroshka

block title
  = pages.indiyskiy_syir.title

block img
  img.width_100(src='static/img/content/articles/Панир1.jpg' alt='')

block text
  p.
    Чарующая и удивительная Индия... Огромная страна, вмещающая в себе множество традиций, культур и народностей. Все это разнообразие, конечно, повлияло и на кухню страны. Считается, что единой традиционной индийской кухни нет, потому что в каждом штате она разная.

  p.
    Это вполне логично, если учесть, что Индия сталкивалась со многими европейскими государствами, которые привносили свою культуру: например, португальцы — красный перец чили, англичане — ритуал чаепития, французы — рецепты багетов и круассанов. Но есть одна нация, которая много лет управляла Индией, поэтому оставила самый жирный след в ее истории — это Великие Моголы. Они завезли печи тандыр, внутри которых готовят мясо и пекут хлеб. Они же привнесли в индийскую кухню ее самое популярное блюдо — плов бирияни.

  p.
    Если путешествовать по Индии, то можно заметить, что блюда с мясом больше распространены в северной части страны, кроме того, там едят намного больше хлебных изделий, чем на юге, где хлеб заменяет рис. Основа южноиндийской кухни — это овощные блюда, а на западном побережье — рыба и морепродукты стали ежедневной частью рациона индийцев.

  p.
    Самое, пожалуй, известное блюдо индийской кухни — палак-панир. Сыр панир — очень питательный и делается за считанные минуты, поэтому он всегда свежий. Самый распространенный способ приготовления – тушение в разнообразных пряных подливках и соусах: огненных томатных, в нежных и сладковато-сливочных, или в изумрудно-зеленом свежем соусе из шпината.

  p.
    Сыр, как уже упоминалось раньше, готовится просто: из цельного, жирного молока, доведенного до кипения, и лимонного сока. Кислота отделит створоженную массу от сыворотки. После чего останется только отжать марлю с сыром от лишней жидкости и дать ему остыть, затем придать форму.

  p.
    Вуа-ля! Сыр готов.