extends okroshka

block title
  = pages.kartofel_po_retseptu_a_s_pushkina.title

block img
  img.width_100(src='static/img/content/articles/maxresdefault1.jpg' alt='')

block text
  p.
    Наверняка вы и не догадываетесь, что Александр Пушкин известен не только своими великими произведениями, но и собственным рецептом блюда, которое вы, без сомнения, пробовали. В среде поваров существует даже история об этом. Однажды поэт загостился в доме у Вульфов и вернулся в свое имение «Михайловское» поздней ночью. Проголодавшись после долгой дороги, поэт решил не беспокоить своих домашних, а приготовить ужин самостоятельно.

  p.
    Заметив на столе остывшую картошку, оставшуюся еще с ужина, Пушкин не захотел ее есть холодной, вместо этого Александр Сергеевич бросил ее на сковородку и обжарил на сливочном масле, затем посолил, и.... Был впечатлен невероятным вкусом! Возможно, тогда он даже выкрикнул свое излюбленное: «Ай да Пушкин! Ай да сукин сын!».

  p.
    Ему так понравилось блюдо собственного приготовления, что при каждом удобном случае он старался угостить друзей и знакомых поджаренной картошечкой. После чего приятели единодушно назвали блюдо «Картофелем по-пушкински».

  p.
    Даже спустя много лет после смерти поэта, появлялись предприимчивые люди, которые использовали эту легенду в кулинарном бизнесе. Крупные рестораторы Москвы и Санкт-Петербурга добавили в свое меню картошку по-пушкински. Особенно часто она стала появляться в перечне блюд после первого крупного праздника, посвященного столетию со дня рождения поэта.

  p.
    В то время в разнообразных заведениях появлялись блюда со всевозможными названиями, которые отсылали к жизни или творчеству великого поэта: бифштекс «Пушкин», салат «Евгений Онегин» и т.д. А один особенно изобретательный купец Шустов выпустил юбилейный ликер с портретом поэта. Но на этом фантазия Шустова не закончилась. Бутылку, в которой хранился ликер, он решил сделать в виде фигуры Пушкина, а в роли знаменитой шляпы была пробка.

  p.
    Время идет, о «пушкинских» блюдах уже давно забыли, но вот «Картофель по-пушкински» остался и в наши дни, вот только мало кто знает, какая интересная история стоит за простым рецептом.