extends okroshka

block title
  = pages.kokteyl_margarita.title

block img
  img.width_100(src='static/img/content/articles/Космополитен1(1).jpg' alt='')

block text
  p.
    Пожалуй, это один из самых известных коктейлей, который несомненно ассоциируется с роскошными аристократическими вечеринками или посиделками с подругами за интересными беседами в самых модных барах.
    Появился коктейль в латинской Америке в первой половине 20 века, несмотря на огромное количество версией его происхождения, но одно в них остается неизменным — образ Маргариты. Самая распространенная история рассказывает о том, что мексиканский бармен так поразился красотой молоденькой актрисы, которая зашла в его бар, что, вдохновившись, создал первый коктейль, который одновременно острый и нежный.

  p.
    Однако есть и другая легенда о техасской аристократке, устроившей на своей вилле модный роскошный прием. Она угощала гостей коктейлем из текилы собственного изобретения. Опьянев, гости продолжили веселиться, а на утро уже мало кто помнил о вкусных напитках. Этот рецепт так и потерялся бы в истории, если бы не один гость, который был на той вечеринке... Томми Хилтон, тот самый владелец сети отелей Hilton. Предприимчивый бизнесмен разглядел в изобретении Маргариты возможно сделать неплохие деньги, и уже через несколько дней коктейль появился в меню баров и ресторанов всех отелей Hilton. Вероятнее всего, авторские права он закрепил в названии коктейля.

  p.
    Классическая Маргарита готовится из текилы с добавлением сока лайма и апельсинового ликера Куантро. Коктейль готовится в шейкере, затем фильтруется от льда и мякоти цитруса, затем подается в охлажденном виде, в широком коктейльном бокале на ножке, край которого покрывает тонкий соленый ободок. Все это украшается долькой лайма.