extends okroshka

block title
  = pages.kuritsa_po_gruzinski.title

block img
  img.width_100(src='static/img/content/articles/maxresdefault-(1)1.jpg' alt='')

block text
  p.
    Пробовали ли вы мясо курицы в ягодном соусе? А, между прочим, курица в ежевичном соусе — это традиционно блюдо грузинской кухни. Говорят, если хозяйка желает поразить гостей, то она должна приготовить курицу с ежевикой. Хотя это блюдо и принято подавать холодным, без гарнира, каждый знает, что на грузинском столе закуски есть всегда — это лаваш, овощи, зелень, домашний сыр. Некоторые гурманы подают курицу с нарезанными тонкими ломтиками папайю или теплый рис.

  p.
    Это блюдо практически неизвестно за пределами страны, да и делается оно в очень короткий сезон, пока спеет ежевика.

  p.
    Курицу с ежевикой готовят так же, как и сациви: куски вареной или жареной курицы маринуются в ароматном соусе. Конечно, соус лучше всего готовить из свежих ягод, причем лучше их не мыть перед готовкой, так как вода провоцирует окисление, и соус прокиснет быстрее, чем нужно. Если нет возможности готовить соус из свежих ягод, то можно приобрести свежезамороженные, хотя вкус блюда, конечно, несколько ухудшится. Твердые ягоды нужно сначала измельчить в блендере, а потом протереть сквозь сито.

  p.
    На это блюдо также и приятно смотреть: ягоды дают сок, который красит курицу в приятный розовый цвет, поэтому на разнообразном грузинском столе, она смотрится ярко и гармонично.
