include ../components/doctype/doctype
include ../components/header/header
include ../components/content/content
include ../components/footer/footer

include ../components/form-subscribe/form-subscribe

+doctype(pages.recipes.title)
  .-wrapper
    +header(false, [pages.recipes.url])
    +content
      .__inner
        .container-fluid
          article.-section._3
            header.__header
              h1.__title.text-center.nautilus.green-1
                block title
                  = pages.okroshka.title

            .-section.__cols
              .__col._1
                block img
                  img.width_100(src='static/img/content/articles/okroshka.jpg' alt='')
              .__col._2
                section.-section._4
                  h2.__title Ингредиенты:
                  ol
                    li Картофель, 5-6 шт.
                    li Соль, по вкусу
                    li Растительное масло
                    li Зелень

            block text
              p.
                Впереди жаркое лето, а это значит, что теперь даже во время обеда захочется не только подкрепиться, но и одновременно освежиться. И здесь как нельзя кстати вспоминается окрошка — суп, который подается холодным.

              p.
                Но особенно интересно то, что у каждой хозяйки рецепт окрошки свой. И это не удивительно, ведь даже на Руси не было одного рецепта, хозяйки добавляли в блюдо как квас, так и кисломолочную заправку и даже рассол! Кроме того, в заправку шли разные виды мяса, и овощи, которые находились под рукой.

              p.
                Конечно, более традиционной основой для окрошки считается квас, ведь в старину на Руси очень любили этот напиток, он был в каждом доме. Для заправки кроме обычного мяса и дичи добавляют даже рыбу. Этот рецепт остался после бурлаков, работавших на Волге. Их тогда кормили квасом с воблой, но от трудного образа жизни, плохого питания у большинства рабочих были плохие зубы, поэтому мужчины размачивали рыбу в квасе, а чтобы кушанье получалось сытнее, добавляли туда овощи.

              p.
                Но существует и другой освежающий рецепт этого летнего супа: в него добавляются огурцы, картошка и яйца, сваренные вкрутую. Все ингредиенты заливаются водой и сметаной, а для фирменной окрошечной кислоты добавляется сок лимона. Для аромата добавляется укроп, зеленый лук, и, если сезон, то редиска. В некоторых особенно модных ресторанах окрошку подают в ледяных тарелках.

              p.
                В то время в разнообразных заведениях появлялись блюда со всевозможными названиями, которые отсылали к жизни или творчеству великого поэта: бифштекс «Пушкин», салат «Евгений Онегин» и т.д. А один особенно изобретательный купец Шустов выпустил юбилейный ликер с портретом поэта. Но на этом фантазия Шустова не закончилась. Бутылку, в которой хранился ликер, он решил сделать в виде фигуры Пушкина, а в роли знаменитой шляпы была пробка.

              p.
                Этот суп — настоящий запах лета, он освежающий, бодрящий и сытный.

          .-grid._1
            .__col._1
              section.-section._1
                header.__header
                  h2.__title Ещё попробуйте
                  .__header-bottom
                    span.__header-line._no-padding

                .-articles-list-2
                  article.-article-item-2
                    +a().__img
                      img.__img-inner(src='static/img/content/advices/370x225/okroshka.jpg'
                      srcset='static/img/content/advices/370x225/okroshka.jpg 1x, static/img/content/advices/740x450/okroshka.jpg 1.25x'
                      alt='' title='')
                    .overflow-hidden
                      +time().-article-item-2.__date 01.06.2017
                      h3.-article-item-2.__title: +a().__title-link Окрошка
                      .-article-item-2.__content
                        p.
                          Впереди жаркое лето, а это значит, что теперь даже во время обеда захочется не только подкрепиться,
                          но и одновременно освежиться. И здесь как нельзя кстати вспоминается окрошка — суп, который подается холодным.
                          Но особенно интересно то, что у каждой хозяйки рецепт окрошки свой. И это не удивительно,
                          ведь даже на Руси не было одного рецепта, хозяйки добавляли в блюдо как квас, так и кисломолочную заправку и даже рассол!
            .__col._2
              +form-subscribe()
    +footer