extends okroshka

block title
  = pages.vegetarianskiy_sup_iz_chechevitsyi.title

block img
  img.width_100(src='static/img/content/articles/7_Fakes.jpg' alt='')

block text
  p.
    Вегетарианство постепенно перестает казаться чем-то диким, а разговоров о том, что мясо — это ценный белок, от которого невозможно отказаться, становится все меньше. Удивительно, но факт, что супы получаются вкусными, даже если их не делать на мясном бульоне.

  p.
    Отличным примером вегетарианского блюда, которое могут позаимствовать и мясоеды, является сытный суп из чечевицы. Она хоть и богата растительным белком, но почти не содержит жира, что делает крупу настоящим диетическим продуктом. Именно поэтому блюда из этой культуры бобовых утоляют чувство голода, но не приводят к неприятным изменениям фигуры.

  p.
    Кроме того, суп готовится быстро, ведь он не требует предварительной подготовки, например, замачивания или длительного приготовления бульона. Суп из чечевицы универсален: он утолит голод и согреет в холодную погоду, но и для тёплых дней будет к месту: организм хорошо усвоит нежирный и не тяжелый суп. Еще один приятный момент заключается в том, что чечевица - не дорогостоящий продукт, поэтому такой суп может стать обычным делом в культуре питания любой семьи.

  p.
    Как уже упоминалось ранее, готовится он просто. Сначала делается обычная зажарка, в это время на огонь ставится кастрюля с водой или бульоном. Следует тщательно промыть чечевицу, часто в ней попадается органический мусор. Закинув чечевицу в кипящую воду, варите ее на слабом огне 10–15 мин. В это время вы чистите и режете картошку, добавляете ее в кастрюлю и варите еще 10 минут. После этого закидываете в бульон мытый рис и оставляете все это на огне еще на пять минут. Не забываем про соль и зажарку, сейчас самое время добавить ее в суп. Для пряного запаха можно добавить зелень или специи.

  p.
    И вот, душистый сытный суп готов!