.wrapper
  display table
  table-layout fixed
  overflow hidden
  will-change auto
  height 100vh
  width $screen-lg-min
  min-width $screen-lg-min
  position relative
  margin 0 auto
  background $body-bg
  box-shadow 0 0 14px rgba(202, 202, 202, 0.75)