.form-subscribe
  padding 30px 35px 35px
  margin-top 42px
  background-color #f5f4f4

  &__title
    font-family nautilus, sans-serif
    font-size rem-calc(31)
    line-height 1.2
    font-weight 400
    text-align center
    margin 0 0 25px
    small
      display block
      font-size rem-calc(22)

  &__btn
    width 174px