-
  var voidHref = 'javascript:;';

  var pages = {
    home: {title: 'List of pages', url: 'home.html'},
    index: {title: 'Главная', url: 'index.html'},
    recipes: {title: 'Рецепты', url: 'recipes.html'},
    okroshka: {title: 'Окрошка', url: 'okroshka.html'},
    vegetarianskiy_sup_iz_chechevitsyi: {title: 'Вегетарианский суп из чечевицы', url: 'vegetarianskiy_sup_iz_chechevitsyi.html'},
    indiyskiy_syir: {title: 'Индийский сыр', url: 'indiyskiy_syir.html'},
    kuritsa_po_gruzinski: {title: 'Курица по-грузински', url: 'kuritsa_po_gruzinski.html'},
    kartofel_po_retseptu_a_s_pushkina: {title: 'Картофель по рецепту А.С.Пушкина', url: 'kartofel_po_retseptu_a_s_pushkina.html'},
    advices: {title: 'Полезные советы', url: 'advices.html'},
    about: {title: 'О нас', url: 'about.html'}
  };

  var modals = {
    //'privacy-policy': {title: 'Политика конфиденциальности', url: 'popups/privacy-policy.html'}
  };